---
layout: page
title: Archive
permalink: /archive/
---

{% assign current_year = "" %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != current_year %}
    {% unless forloop.first %}
</ul>
    {% endunless %}
<h2>{{ year }}</h2>
<ul class="blog-posts">
    {% assign current_year = year %}
  {% endif %}
  <li>
    <span class="post-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time></span>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </li>
  {% if forloop.last %}
</ul>
  {% endif %}
{% endfor %}
