<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if page.url == "/" %}
  <title>{{ site.title }}</title>
  {% else %}
  <title>{{ page.title }} | {{ site.title }}</title>
  {% endif %}

  {% if page.description %}
    {% assign page_description = page.description %}
  {% elsif page.excerpt %}
    {% assign page_description = page.excerpt | strip_html | strip_newlines | truncate: 160 %}
  {% else %}
    {% assign page_description = site.description %}
  {% endif %}
  <meta name="description" content="{{ page_description | xml_escape }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}">
  <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">

  <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{{ page_description | xml_escape }}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta name="twitter:card" content="summary">
</head>

<body>
