---
layout: compress
---

{% include head.html %}

<main>
  {% include header.html %}

  <article>
    <h1>{{ page.title }}</h1>

    {{ content }}

    <h2>Experience</h2>
    <ul class="entry-list">
      {% for job in site.data.index.careers %}
      <li>
        <span class="entry-date">{{ job.date }}</span>
        <span>{{ job.job }} &middot; <a href="{{ job.link }}">{{ job.name }}</a></span>
      </li>
      {% endfor %}
    </ul>

    <h2>Education</h2>
    <ul class="entry-list">
      {% for school in site.data.index.education %}
      <li>
        <span class="entry-date">{{ school.date }}</span>
        <span><a href="{{ school.link }}">{{ school.name }}</a></span>
      </li>
      {% endfor %}
    </ul>
    {% for school in site.data.index.education %}
    {% if school.descr %}<p class="entry-note">{{ school.descr }}</p>{% endif %}
    {% endfor %}

    <h2>Projects</h2>
    {% for project in site.data.index.projects %}
    <p>
      <strong>{{ project.name }}</strong><br>
      {{ project.descr }}
      {% if project.github %}<br><a href="{{ project.github }}">GitHub</a>{% endif %}
      {% if project.website %} <a href="{{ project.website }}">Homepage</a>{% endif %}
    </p>
    {% endfor %}
  </article>
</main>

{% include footer.html %}

</body>
</html>
